name: Coverage

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 6.0

      - name: Install dependencies
        run: dotnet add package Microsoft.CodeCoverage

      - name: Test
        run: dotnet test --no-restore --verbosity normal /p:CollectCoverage=true

      - uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: coverage.cobertura.xml
